@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-black: #000000;
    --color-blue: #1992d3;
    --color-grey: #e2e8f0;
    --color-red-bulls: #cf083f;
    --color-white: #ffffff;
    --font-main: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

button {
    padding: 0.75rem;

    width: 100px;

    background-color: var(--color-red-bulls);
    color: var(--color-white);

    font-family: var(--font-main);
    font-weight: bold;

    border-style: none;
    border-radius: 2rem;
}

p {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 5fr 32px;
}

.main p {
    font-family: var(--font-main);
}

.main .header {
    padding: 15px 25px;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main .header-top {
    
    display: grid;
    grid-template-columns: auto minmax(200px, 2fr) 1fr auto auto auto;

    align-items: center;
    column-gap: 50px;
}

.main .header-bottom {
    
    display: grid;
    grid-template-columns: auto 1fr auto;

    align-items: center;
    column-gap: 50px;
}

.main .header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.profile-pic {
    width: 50px;
    height: auto;

    border-radius: 10px;
}

.sidebar {
    background-color: var(--color-red-bulls);
    color: var(--color-white);
    padding: 15px;

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar .menu div {
    display: flex;
    align-items: center;
}

.content {
    padding: 25px;

    background-color: var(--color-black);
    color: var(--color-white);

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.content>div {
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.content .projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.content .projects .projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
    /* align-content: stretch; */
    gap: 25px;
}

.content .projects .card {
    padding: 25px;

    background-color: var(--color-red-bulls);

    border-radius: 10px;

    display: grid;
    grid-template-rows: 2rem 1fr 2rem;

    row-gap: 15px;
}

.content .projects .card p {
    font-weight: 700;
}

.content .projects .card p+p {
    font-weight: 400;
    font-size: 0.85rem;
}

.content .projects .card .engagement{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;

}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending .trending-topics {
    border-radius: 10px;
    
    padding: 25px;

    background-color: var(--color-white);
    color: var(--color-black);

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.trending .trending-topics .topic {
    display: flex;
    align-items: center;
    gap: 25px;
}

.trending .trending-topics img {
    width: 4rem;
}

.footer {
    font-family: var(--font-main);
    color: var(--color-white);
    background-color: var(--color-red-bulls);
    font-size: 0.8rem;

    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    display: grid;
    place-content: center;    
}

.footer img {
    width: 1.1rem;
}